{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.product_name }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "store/product-detail.css" %}">
{% endblock %}

{% block content %}
	<section id="summary">
        <h2>{{ product.product_name }}</h2>
        <div>
            {% for tag in product_tags %}
            	<span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>

        <article>
            <img src="{{ product.image.url }}" alt="{{ product.product_name }} image">
        </article>

    </section>
    <main>
        {{ product.Description|linebreaks }}
    </main>
    
    <section id="comment-form">
        <form action="{% url "product-detail" product.slug %}" method="POST">
            {% csrf_token %}
            {% for field in comment_form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </section>
    
{% endblock %}